/* Style for the navbar */

h6{
  padding: 5px;
  margin: 10px;
  align-items: center;
  justify-content: center;
  margin-left: 550px;
}
.navbar {
   background-color: #fff; 
    border: 2px solid #000; 
    padding: 20px ; 
    cursor: pointer;
}
.navbar-brand {
    font-size: 24px; 
    color: #000; 
    font-style: normal;
}

.navbar-nav .nav-link {
    color: #000; 
    font-weight: bold;
    margin-right: 20px;
   font-weight: 400;
}
.add-space {
  margin-left: 80px;
}


/* Style for the search icon */
.nav-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center; 
  margin-left: 270px;
  gap: 30px;
}

/* Add spacing between the icons */
.nav-icons svg {
  margin-right: 35px;

}

.image-container {
  position: relative;
  text-align: center; 
  
}

.search-icon {
    width: 27px; 
    height: 27px; 
    fill: #000;
    cursor: pointer;
   
}
.search-icon:hover {
    fill:#0056b3;
    transform: scale(1.2); 
    transition: 0.3s;
}

#search-input {
  display: none; 
  width: 80px;/* Initially hide the input field */
}




.person-icon {
    width: 30px; 
    height: 30px; 
    fill: #000;
    cursor: pointer; 
}
.person-icon:hover {
    fill:#0056b3;
    transform: scale(1.2); 
    transition: 0.3s;  
}
.basket2-fill-icon {
    width: 30px; 
    height: 28px; 
    fill: #000; 
    cursor: pointer;
  }
  

  .basket2-fill-icon:hover {
    transform: scale(1.2);
    transition: 0.3s; 
    fill: #0056b3;
  }
  .carousel-control-prev-icon {
    background-color:black;
  width: 30px;
  }

  /* Change the color of the next arrow */
  .carousel-control-next-icon {
    background-color: black;
    width: 30px;
  }
 
  .carousel-indicators button {
    background-color: white; 
    width: 10px;
    height: 10px;
    margin:   5px;
    border-radius: 50%; 
    border: 2px solid black;
    margin-bottom: -10px;
    color: black;
  }
  .carousel-item img {
    width: 50px; 
    height: 500px; 
    object-fit: cover; 
    padding: 30px;
    border: 2px solid black;
    position: relative;
  }
    
   /* Maintain the aspect ratio and cover the entire container */
button{
    padding: 5px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    margin-left: 700px;
    background-color: rgb(237, 182, 182);

}
h1{
    padding: 15px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    margin-left: 450px;
}
h2{
    padding: 2px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    margin-left: 600px;
}

/* Define a custom class for the card */
.custom-card {
    width: 20rem;
    height: 30rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  
    margin-left:200px;
  
  }
  
  .image-container {
    position: relative;
    border: 3px solid black;
  
  }
  
  .card.custom-card img {
    filter: blur(4px);
    width: 100%;
  }

  .text-overlays {
    position: absolute;
    top: 40%;
    left: 0;
    transform: translate(0, -50%); 
   color:black;
    padding: 10px;
    font-size: 1.5rem;
    margin-left: 100px;
    font-weight: bolder;
  }
  
.large-card {
    width: 47rem; 
    height: 25rem;
    transition: transform 0.2s;
    margin: 1px;
    margin-left:-230px; 
    margin-bottom: -30px;
   
  }
  
  .text-overlay {
    position: absolute;
    top: 40%; 
    left: 0;
    transform: translate(0, -50%); 
   color:black; 
    padding: 10px;
    font-size: 3rem;
    margin-left: 240px;
  }
  
  .row-cols-1 {
    display: flex;
    flex-wrap: wrap;
  }
  
  .row-cols-1 > .col {
    flex: 0 0 calc(100% - 20px); 
    margin: 10px;
  }
  
  .row-cols-md-2 > .col {
    flex: 0 0 calc(50% - 20px);
    margin: 10px;
  }
  
  .show-now-button {
    display: block;
    text-align: center;
   color: black;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 10px;
    border: 2px solid black;
    font-weight:bolder;
  }
  
  .show-now-button:hover {
    background-color: #accdf1; 
    text-decoration: none;
  }

.custom-image {
  align-items: center;
  margin: 30px;
  padding: 5px;
  text-align: center; 
}

.custom-image img {
  width: 380px; 
  height: auto;
}


/* Style for the entire footer */
.large-footer {
  background-color: white;
  color: black;
  padding: 60px;
  display: flex;
  justify-content: space-around;
  border: 4px solid black;
  text-align: center;
  flex-wrap: wrap;
}

/* Style for each footer section (heading and items) */
.footer-section {
  flex: 1;
  margin-right: 20px;
}

.footer-section h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li a {
  color: black;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}

.footer-section li a:hover {
  text-decoration: underline;
}

/* Adjust the width and center-align the social media icons container */
.social-media-icons-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  cursor: pointer;
}

.social-media-icons-container svg {
  width: 25px;
  height: 25px;
  margin: 10px;
}
p{
  margin: 30px;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;

}
